$borderColor: #e4e4e4;

.custom-canvas-container {
  border: 1px solid $borderColor;
  width: 610px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin: 30px;
}

.container-left {
  width: 610px;
}

.container-right {
  width: 300px;
  margin-left: 70px;
  margin-top: 50px;
}

.btn-container {
  display: flex;
  margin-top: 50px;
  padding-top: 20px;
  justify-content: flex-end;
  border-top: 1px solid $borderColor;
}
.btn {
  background-color: #1c802e;
  color: white;
  outline: none;
  border: none;
  height: 30px;
  padding: 5px 20px;
  cursor: pointer;

  &.btn-red {
    background-color: #c84931;
  }
}

.images-container {
  h4 {
    font-weight: normal;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 5px;
  }
}

.image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  &.image-section-new {
    justify-content: flex-end;
  }
}

.file {
  width: 0;
  height: 0;
  visibility: hidden;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    margin-bottom: 5px;
    margin-left: 2px;
    font-size: 14px;
    color: gray;
    font-weight: 100;
  }
}

.input {
  height: 35px;
  border: 1px solid;
  border-color: $borderColor;
  outline: none;
  background: none;
  box-shadow: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;

  &.image-input {

    width: calc(100% - 100px);
  }
}
