

<div class="container">
  <div class="container-left">
    <div class="custom-canvas-container">
      <canvas id="canvas" width="600" height="400"></canvas>
    </div>
    <div class="images-container">
      <div class="text-details">
        <div class="input-field input-field-font-family">
          <select class="input" id="fontfamily" [value]="selectedText?.get('fontFamily')" (change)="updateText($event, 'fontFamily')">
            <option>Roboto</option>
            <option>Arial</option>
          </select>
        </div>
        <div class="input-field input-field-font-size">
          <input type="number" id="fontsize" class="input" [value]="selectedText?.get('fontSize')" (change)="updateText($event, 'fontSize')">
        </div>
        <div class="input-field">
          <span class="material-icons">
format_bold
</span>
          <select class="input" (change)="updateText($event, 'fontWeight')">
            <option [value]="'normal'" [selected]="selectedText?.get('fontWeight') === 'normal'">Normalna</option>
            <option [value]="'bold'" [selected]="selectedText?.get('fontWeight') === 'bold'">Pogrubiona</option>
          </select>
        </div>
        <div class="input-field">
          <input type="color" class="input" id="color" [value]="selectedText?.get('fill')" (change)="updateText($event, 'fill')">
        </div>

      </div>
      <h4>Tło</h4>
      <div class="image-section">
        <input type="color" class="input" [(ngModel)]="backgroundColor" (change)="setBackgroundColor($event)">
        <button class="btn btn-red image-btn" (click)="resetBackgroundColor()">Resetuj</button>
      </div>
      <div class="image-section" *ngIf="backgroundName">
        <input class="input image-input" disabled type="text" [value]="backgroundName">
        <button class="btn btn-red image-btn" (click)="resetBackground()">Usuń</button>
      </div>
      <div class="image-section image-section-new" [ngClass]="backgroundName ? 'hidden' : ''">
        <input class="file" #fileBackground type="file" (change)="uploadImage($event, true)">
        <button class="btn image-btn" (click)="selectBackground()">Dodaj tło</button>
      </div>
    </div>
    <div class="images-container">
      <h4>Zdjęcia</h4>
      <div class="image-section" *ngFor="let image of imagesList">
        <input class="input image-input" disabled type="text" [value]="image.name">
        <button class="btn btn-red image-btn" (click)="removeImage(image)">Usuń</button>
      </div>
      <div class="image-section image-section-new">
        <input class="file" #file type="file" (change)="uploadImage($event)">
        <button class="btn image-btn" (click)="selectImage()">Dodaj</button>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn" (click)="exportSVG()">Eksportuj do SVG</button>
    </div>
  </div>
  <div class="container-right">

  </div>
</div>


