$borderColor: #e4e4e4;

.custom-canvas-container {
  border: 1px solid $borderColor;
  width: 710px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin: 30px;
}

.container-left {
  width: 710px;
}

.container-right {
  width: 400px;
  margin-left: 70px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  justify-content: center;
}
.btn {
  background-color: #1c802e;
  color: white;
  outline: none;
  border: none;
  height: 30px;
  padding: 5px 20px;
  cursor: pointer;

  &.btn-red {
    background-color: rgb(240,31,50);
  }

  &.btn-big {
    height: 50px;
    width: 300px;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.images-container {
  //border-bottom: 1px solid $borderColor;
  padding-bottom: 30px;

  h4 {
    font-weight: normal;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 5px;

    &.hidden {
      visibility: hidden;
    }
  }
}

.image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  &.image-section-new {
    justify-content: flex-end;
  }

  &.hidden {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.file {
  width: 0;
  height: 0;
  visibility: hidden;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    margin-bottom: 5px;
    margin-left: 2px;
    font-size: 14px;
    color: gray;
    font-weight: 100;
  }
}

.input {
  height: 35px;
  border: 1px solid;
  border-color: $borderColor;
  outline: none;
  background: none;
  box-shadow: none;
  padding: 0 5px;
  font-size: 16px;
  box-sizing: border-box;

  &.image-input {

    width: calc(100% - 100px);
  }
}

.text-details {
  display: flex;

  .input-field {
    margin-right: 10px;
  }



  .text-details-content {
    display: flex;
    width: 100%;

    &.hidden {
      visibility: hidden;
    }
  }
}

.font-family-field {
  width: 200px;
}

.input-field-font-family {
  width: 200px;
}

.input-field-font-size {
  width: 50px;
}

.input-field-font-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $borderColor;
  cursor: pointer;
  height: 35px;
  width: 35px;
  box-sizing: border-box;

  .material-icons {
    font-size: 30px;
    color: $borderColor;

    &.active {
      color: black;
    }
  }
}

.input-field-right {
  width: 210px;
  display: flex;
  justify-content: flex-end;

  &.hidden {
    visibility: hidden;
  }

  &.w100 {

    width: 100%;
  }

  .input-field {
    margin-right: 0;
    margin-left: 10px;
  }
}
