

<div class="container">
  <div class="container-left">
    <div class="custom-canvas-container">
      <canvas id="canvas" width="600" height="400"></canvas>
    </div>
    <div class="images-container">
      <h4>Zdjęcia</h4>
      <div class="image-section" *ngFor="let image of imagesList">
        <input class="input image-input" disabled type="text" [value]="image.name">
        <button class="btn btn-red image-btn" (click)="removeImage(image)">Usuń</button>
      </div>
      <div class="image-section image-section-new">
        <input class="file" #file type="file" (change)="uploadImage($event)">
        <button class="btn image-btn" (click)="selectImage()">Dodaj</button>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn" (click)="exportSVG()">Eksportuj do SVG</button>
    </div>
  </div>
  <div class="container-right">
    <div class="text-details" *ngIf="selectedText">
      <div class="input-field">
        <label>
          Czcionka
        </label>
        <select class="input" id="fontfamily" [value]="selectedText.get('fontFamily')" (change)="updateText($event, 'fontFamily')">
          <option>Roboto</option>
          <option>Arial</option>
        </select>
      </div>
      <div class="input-field">
        <label>
          Wielkość czcionki
        </label>
        <input type="number" id="fontsize" class="input" [value]="selectedText.get('fontSize')" (change)="updateText($event, 'fontSize')">
      </div>
      <div class="input-field">
        <label>
          Kolor
        </label>
        <input type="color" id="color" [value]="selectedText.get('fill')" (change)="updateText($event, 'fill')">
      </div>

    </div>
  </div>
</div>


